.Authenticate__Container {
  margin: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  border: 0.4rem var(--black) solid;
  border-radius: 1rem;
}

.Authenticate__Inputs {
  width: 30vw;
  border-width: 0.2rem;
  border-color: var(--black);
  border-radius: 0.3rem;
}

.Authenticate__Button {
  background-color: var(--black);
  width: 5rem;
  height: 2rem;
  color: var(--white);
  border: none;
  border-radius: 10rem;
  margin: 1rem 0 0 0;
}
