.Editor__Container {
  margin: 1rem;
  padding: 1rem;
}

.Editor__TextArea {
  display: flex;
  flex-direction: column;
}

.Editor__TextArea > label {
  margin: 0 0 0.3rem 0;
}

.Editor__TextArea > label > input {
  width: 10rem;
}

.Editor__TextArea > textarea {
  height: 60vh;
  margin: 0 0 1rem 0;
}

.Editor__TextArea > button {
  height: 2rem;
  width: 4rem;
  background-color: black;
  color: white;
  border: none;
  border-radius: 10rem;
  margin: 0 0 0.3rem 0;
}

.Editor__DeletePost {
  margin: 1rem 0 0 0;
}

.Editor__DeleteHeader {
  font-size: 2rem;
  margin: 0 0 0.4rem 0;
}

.Editor__DeleteComp {
  display: flex;
  align-items: center;
}

.Editor__DeleteComp > p {
  margin: 0 0.4rem 0 0.4rem;
}

.Editor__DeleteComp > button {
  display: flex;
  justify-content: center;
  border: none;
  background-color: black;
  color: white;
  border-radius: 1rem;
  padding: 0.3rem;
}
