.Home__Main {
  display: flex;
  height: 100vh;
  color: var(--black);
}

.Home__ThemeButton:hover {
  transform: scale(1.1);
}

.Home__Left {
  width: 25vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: MoveLeft 2s linear;
}

@keyframes MoveLeft {
  0% {
    margin-left: 1000vw;
  }
  100% {
  }
}

.Home__Details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.Home__Details > h1 {
  margin: 0 1rem 1rem 1rem;
  font-weight: 100;
}

.Home__Details > h3 {
  margin: 0 1rem 1rem 1rem;
  font-weight: 100;
}

.Home__Socials {
  display: flex;
  justify-content: space-between;
  width: 13vw;
  margin: 0.4rem 0 0 0;
}

.Home__Socials > a {
  text-decoration: none;
  color: var(--black);
}

.Home__Links {
  display: flex;
  margin: 1rem 0 0 0;
}

.Home__Links > button {
  border: none;
  background-color: var(--white);
  color: var(--black);
  border-radius: 1rem;
  border: 0.12rem var(--black) solid;
  width: 6rem;
  height: 3rem;
  margin: 0.5rem;
}

.Home__Links > button:hover {
  transform: scale(1.1);
}

.Home__Outlet {
  width: 75vw;
  overflow-y: scroll;
  animation: ListIn 2s linear;
}

@keyframes ListIn {
  0% {
    margin-left: 100vw;
  }
  100% {
    margin-right: 0;
  }
}

.Home__Image {
  width: 16rem;
  height: 16rem;
  margin: 1rem;
}

.Home__Menu {
  display: none;
}

.Home__BackButton {
  display: none;
}

.Home__MenuDropDown {
  position: absolute;
  background-color: var(--white);
  border: 0.12rem solid;
  display: flex;
  flex-direction: column;
  width: 8rem;
  height: 5rem;
  margin: 7rem 1rem 0 0;
  border-radius: 0.4rem;
  right: 0;
  z-index: 1;
}

.Home__MenuDropDownItem {
  margin: 0.8rem 0 0 0;
  text-align: center;
}

@media only screen and (max-width: 800px) {
  .Home__Outlet {
    width: 100vw;
    height: 100vh;
  }
  .Home__Main {
    flex-direction: column;
  }
  .Home__Left {
    width: 100vw;
  }
  .Home__Socials {
    justify-content: center;
    align-items: center;
  }
  .Home__Image {
    display: none;
  }
  .Home__Menu {
    display: block;
    position: fixed;
    margin: 0.3rem;
    top: 0;
    bottom: 0;
    right: 0;
  }
  .Home__Links {
    display: none;
  }
  .Home__Details > h3 {
    display: none;
  }
  .Home__BackButton {
    display: block;
    position: fixed;
    margin: 0.3rem;
    top: 0;
    bottom: 0;
    left: 0;
  }
  .Home__Socials {
    display: none;
  }
}

.Social__icons:hover {
  transform: scale(1.1);
}
