.Project__Main {
  margin: 1rem;
  padding: 1rem;
}

.Project__Header {
  font-size: 1.5rem;
}

.Project__Container {
  margin: 0 0 1.4rem 0;
  border: 0.1rem solid;
  border-radius: 1rem;
  padding: 1rem;
}

.Project__Image {
  width: 15rem;
  height: 10rem;
  margin: 1rem 0 0 0;
  border-radius: 1rem;
  border: 0.1rem black solid;
  padding: 0.1rem;
}

.Project__Body {
  display: flex;
}

.Project__Description {
  padding: 1rem;
}

.Project__Url {
  display: flex;
  align-items: center;
  align-content: center;
  align-self: center;
  justify-content: center;
  margin: 1rem 0 1rem 0;
  background-color: var(--white);
  height: 2.3rem;
  width: 5rem;
  border: 0.1rem black solid;
  color: var(--black);
  border-radius: 1rem;
}

.Project__Url:hover {
  transform: scale(1.1);
}

@media only screen and (max-width: 941px) {
  .Project__Body {
    flex-direction: column;
  }
  .Project__Image {
    width: auto;
    height: max-content;
  }
}
