.Project__Main {
  margin: 1rem;
  padding: 1rem;
}

.Project__Header {
  font-size: 2rem;
}

.Project__Container {
  margin: 0 0 1.4rem 0;
  border: 0.4rem solid;
  border-radius: 1rem;
  padding: 1rem;
}

.Project__Image {
  width: 30rem;
  height: 20rem;
  margin: 1rem 0 0 0;
}

.Project__Body {
  display: flex;
}

.Project__Description {
  padding: 1rem;
}

.Project__Gif {
  width: 10rem;
  height: 20rem;
  margin: 1rem 20rem 0 0;
}

.Project__Url {
  display: flex;
  align-items: center;
  align-content: center;
  align-self: center;
  justify-content: center;
  margin: 1rem 0 1rem 0;
  background-color: black;
  height: 2.3rem;
  width: 5rem;
  border: none;
  color: white;
  border-radius: 1rem;
}

@media only screen and (max-width: 941px) {
  .Project__Body {
    flex-direction: column;
  }
  .Project__Image {
    width: auto;
    height: max-content;
  }
}
