:root {
  --white: white;
  --black: black;
}

* {
  margin: 0;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-color: var(--white);
}

::-webkit-scrollbar {
  background-color: var(--white);
  width: 0.1rem;
}

::-webkit-scrollbar-thumb {
  background: var(--black);
}
